.course-item{
	height: 50%;
	width: 90%;
	border: 0.5px solid rgb(220,220,220,0.9);
	border-radius: 10px;
	transform: scale(1);
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	transition: 0.3s;
}
.course-item:hover{
	box-shadow:0px 3px 9px #787575;
	transform: scale(1.05);
	transition: 0.3s;
}
.course-item-image{
	overflow: hidden;
	width: 100%;
	object-fit: cover;
	height: 100%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 0px;
	border: 0.5px solid rgb(220,220,220,0.9);
}

.course-item-price{
	font-size: 1.5em;
	text-align: right;
}
.price-badge{
	font-size: 0.6em;
}
.register-button{
	width: 100%;
	border-radius: 0px;
}
.register-button-right{
	border-bottom-right-radius: 10px;
}
.register-button-left{
		border-bottom-left-radius: 10px;

}
