@keyframes scaler {
    0% {transform: scale(1.0)}
    50% {transform: scale(.9)}
    100% {transform: scale(1.0)}
}
@-moz-keyframes scaler {
    0% {-moz-transform: scale(1.0)}
    50% {-moz-transform: scale(.9)}
    100% {-moz-transform: scale(1.0)}
}
@-webkit-keyframes scaler {
    0% {-webkit-transform : scale(1.0)}
    50% {-webkit-transform : scale(.9)}
    100% {-webkit-transform : scale(1.0)}
}

@-o-keyframes scaler {
    0% {-o-transform: scale(1.0)}
    50% {-webkit-transform : scale(.9)}
    100% {-webkit-transform : scale(1.0);}
}

@-ms-keyframes scaler {
    0% {-ms-transform: scale(1.0)}
    50% {-ms-transform : scale(.9)}
    100% {-ms-transform : scale(1.0);}
}



@font-face {
    font-family: webFont;
    src: url(fonts/Shabnam.ttf);
}

@font-face {
    font-family : titrFont;
    src : url(fonts/Shabnam-Bold.ttf);
}


/* BODY */
body {
    font-family: 'webFont', serif;
}

/*     PERSIAN TITR  STYLE     */

.titr {
    font-family: 'titrFont', serif;
}




.main-top-logo{
	margin: 0 auto;
	text-align: center;
	
}
.main-top-logo-container{
	display: flex; align-items: center; justify-content: center;
}
.top-social-icons{
	font-size: 1.4em;
	text-decoration:none;
	transition: 0.3s;
	transform: scale(1);
}
.top-social-icons:hover{
	transition: 0.3s;
		text-decoration:none;

	transform: scale(1.5);
}
.header {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding-bottom: 0px;
}
.logoImage{
	width: 90%;
	max-width: 160px;
	height: 100%;
	padding: 10px;
}
.contact-phone-title{
	font-size: 1em;
	text-align: center;
}
.contact-mail-title{
	font-size: 1em;
	text-align: left;
}
.colorfullBar{
  	background-image: linear-gradient(to right, lightblue,dodgerblue,lightblue);
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
}
.user-profile-img{
    max-width:100px;
    max-height: 100px;
}


/* CARDS */

a {
    text-decoration: none;
	transform: scale(1);
	transition: 0.3s;
}
a:hover{
	text-decoration: none;
	transform: scale(1.002);
	transition: 0.3s;
}

.card{
    border-width: 1px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
	border-radius: 0px;
	border-color: whitesmoke;
	transition: transform .5s;
    transform: scale(1);
}

.card:hover{
    transition: transform .5s;
    transform:  scale(1.02);
}
#cardMembers .btn-outline-warning{
    border-color: #bfce1e;
    color: #bfce1e;
}
#cardMembers .btn-outline-warning:hover{
    border-color: #bfce1e;
	background-color: #bfce1e;
    color: white;
}


#cardATeachers .btn-outline-warning{
    border-color: #e07911;
    color: #e07911;
}
#cardATeachers .btn-outline-warning:hover{
    border-color: #e07911;
	background-color: #e07911;
    color: white;
}
    /* FOOTER STYLE */

.footer {
    background-color: white;
    height: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
box-shadow: 1px -3px 8px -3px rgba(0,0,0,0.75);
	text-align: center;
}
.footerLogo{
	width: 10%;
	height: 10%;
	padding: 5px;
}
.footerText{
	font-size: 0.9em;
	margin-top: 10px;
}
.left-to-right{
	direction: ltr;
}
/* INPUT OPTIONS */
.inputBorder{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
		border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;

}
.inputButtonBorder{
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
		border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;

}

/* BLURRY BACK COMMING SOON*/
.blurry-full-back{
	position: absolute;
	z-index: 3;
	background: rgb(253,253,253,0.9);
	width: 100%;
	height: 100%;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	-webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px);

}
.soon-text{
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
	left: 0px;
	text-align: center;
	right: 0px;
	top: 40%;
	bottom: 0px;
}

/* SCIENCETEFIC CENTER */
.science-center-cat-container{
	border-radius: 10px;
	border: 1px solid rgb(245,245,245);

}
.science-center-cat-item{
	border-radius: 10px;
	border: 1px solid rgb(245,245,245);
	height: 20%;
}
.science-center-cat-item-img{
	background-color: rgb(243,243,243);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 100%;
	height: 100%;
}
