.tutorial-item{
	border: 0.5px solid rgb(243,243,243);
	border-radius: 15px;
	transform: scale(1);
	transition: 0.3s;
}
.tutorial-item:hover{
	transform: scale(1.02);
	transition: 0.3s;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(164,164,164,1);
-moz-box-shadow: 0px 0px 6px 0px rgba(164,164,164,1);
box-shadow: 0px 0px 6px 0px rgba(164,164,164,1);

}
.tutorial-item-info{
	font-size: 0.9em;
}
.scroll-bar-container{
	border: 0.5px solid rgb(243,243,243);
	border-radius: 15px;
	overflow: auto;
	white-space: nowrap;
	padding: 6px;
	margin: 1px;
}

.cs-tutorials-scroll-container{
	border: 0.5px solid rgb(243,243,243);
	border-radius: 15px;
	overflow: auto;
	white-space: nowrap;
	padding: 0px;
	margin: 1px;
	max-height: 300px;
}

.tutorial-item a{
	text-decoration: none;
	color: black;
}

.tags-box-area{
	color: darkslategray;
	font-size: 1.1em;
	padding: 1.1em;
	overflow: auto;
	max-height: 10em;;
}
.tags-box-area ul a{
	text-decoration: none;
		color: darkslategray;
	transform : scale(1);
	transition: 0.3s;
}
.tags-box-area ul a:hover{
	text-decoration: none;
		color: darkslategray;
	transform : scale(1.04);
	transition: 0.3s;
}
.tags-box-area ul{
	list-style: none;
	list-style-position: inside;
}
.tags-box-area ul a{
	align-content: flex-end;
	display: flex;
	text-align: right;
}
