    {% load staticfiles %}
    {% load static %}

    <!doctype html>
    <html lang="en">
    <head>
{#    GOOGLE ANALYTICS   #}
    {% load google_analytics_tags %}
<div style="display:none">
    <img src="{% google_analytics %}" width="0" height="0" />
</div>
{#    END GOOGLE ANALYTICS  #}
           <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static "stylesheets/fas-css/all.css" %}">
        <link rel="stylesheet" href="{% static "stylesheets/animate.css" %}">
        <link rel="stylesheet" href="{% static "stylesheets/fonts/stylesheet.css"%}">
        <link type="text/css" rel="stylesheet" href="{% static "stylesheets/index-style.css"%}">
        <link rel="stylesheet" type="text/css" href="{% static "stylesheets/d-styles.css"%}">

        {% block custom_stylesheets %}
    {#     here goes custom stylesheets #}
        {% endblock custom_stylesheets %}
        {% block header_title %}
    {#  here goes title of the page     #}
        {% endblock header_title %}
    </head>
    <body dir="rtl">

    <!-- HEADER  -->

    <header>
        <div id="header" class="container-fluid p-0 shadow header">
            <!-- HEADER LOGO -->

            <div class="col-5 col-lg-2 col-sm-3 col-md-3 m-auto main-top-logo-container">
                    <a href="{% url 'home' %}" class="main-top-logo"><img src="{% static  "stylesheets/icons/logo.png" %}" class="img-fluid logoImage mx-auto" alt="Responsive image"></a>
            </div>
            <div class="row  p-0 m-0 contact-phone-title ">
            <div class="col">

            </div>
                <div class="col-12 col-sm-3 col-md-2 col-lg-2 p-1 m-0 d-none d-md-block">
                    <p><i class="fas fa-phone-volume ml-2"></i>{% block phone_number_1 %} {% endblock phone_number_1 %}</p>

                </div>
                <div class="col-12 col-sm-2 col-md-2 col-lg-2  p-1 m-0 d-none d-md-block">
                    <p><i class="fas fa-phone-volume ml-2"></i> {% block phone_number_2 %} {% endblock phone_number_2 %}</p>

                </div>
                <div class="col-12 col-sm-2 col-md-2 col-lg-2  p-1 m-0 d-none d-md-block">
                    <p><i class="fas fa-phone-volume ml-2"></i>{% block phone_number_3 %} {% endblock phone_number_3 %}</p>

                </div>
                <div class="col"></div>

            </div>
            <div class="row d-none d-md-block p-0 m-0 contact-phone-title">
                <div class="col-12 p-1 m-0">
                     <p><i class="fas fa-mail-bulk ml-2"></i>{% block email %} {% endblock email %}</p>

                </div>

            </div>
            <div class="row p-0 m-0 mb-3 justify-content-center">
                <a href="{% block instagram_url %} {% endblock instagram_url %}"><i class="fab fa-instagram m-1 p-0 top-social-icons"></i></a>
                <a href="{% block telegram_url %} {% endblock telegram_url %}"><i class="fab fa-telegram m-1 p-0 top-social-icons"></i></a>
            </div>
                    <div class="colorfullBar"></div>
        </div>

    </header>

    <!-- ALL CARDS BODY CONTAINER  -->

    <main class="m-2">

        <div id="cardsGroupBody" class="container">
            <div class="row">
                <!-- CARDS FIRST COL  -->
                <div class="col-12 col-md-12 col-sm-12 col-lg-4 ">
                                    <!-- CARD -> PROFILE  -->
                    <div class="card text-right w-100 mt-3  animated rotateInDownRight delay-2s " id="cardProfile">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="mw-50">
                                        <img class="user-profile-img w-100 p-md-2 p-1 card-img-top rounded-circle img-fluid"
                                             src="{% static 'stylesheets/icons/user_male.png' %}" alt="Card image cap">
                                    </div>
                                    <div class="mw-75 pr-3 text-right">
                                        <h3 class="titr">پروفایل</h3>
    <!--                                    IF LOGGED IN -->
                                        {% if user.is_authenticated %}

                                        <h6>{{ user.user_student.name }}</h6>
                                            <p>{{ user.user_student.student_number }}</p>

                                        <div class="row">
                                            <a href="javascript:{document.getElementById('logoutForm').submit()}"><button type="button" class="btn btn-outline-danger btn-sm m-2">خروج</button></a>
                                        <form id="logoutForm" method="post" action="{% url 'signout' %}">
                                            {% csrf_token %}
                                            <input type="hidden"/>
                                        </form>
                                         </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                                        {% else %}
    <!--                                    ELSE     -->
                                        <div class="row">
                                           <!-- LOGIN BUTTON AND MODAL-->
    <button type="button" class="btn btn-outline-info btn-sm m-2" data-toggle="modal" data-target="#loginModal">
      ورود
    </button>


                                            <button type="button" class="btn btn-outline-danger btn-sm m-2" data-toggle="modal" data-target="#signupModal">ثبت نام</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


    <!--                LOGIN AND SIGN UP MODAL-->
    <!-- START LOGIN Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">ورود</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'usersignin' %}">
                {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">ایمیل</label>
        <input type="email" class="form-control" name="InputEmailLogin" aria-describedby="emailHelp" placeholder="ایمیل">
        <small id="emailHelp" class="form-text text-muted">ایمیل شما محفوظ خواهد ماند.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">رمز عبور</label>
        <input type="password" class="form-control" name="InputPasswordLogin" placeholder="رمز عبور">
      </div>
      <button type="submit" class="btn btn-primary">ورود</button>
    </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
          </div>
        </div>
      </div>
    </div>

    <!--END LOGIN MODAL-->
    <!-- START SIGN UP Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">ثبت نام</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="{% url 'usersignup' %}">
                {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">ایمیل</label>
        <input type="email" class="form-control" name="InputEmailSignup" aria-describedby="emailHelp" placeholder="ایمیل">
        <small id="emailHelp" class="form-text text-muted">ایمیل شما محفوظ خواهد ماند.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">نام و نام خانوادگی</label>
        <input type="text" class="form-control" name="InputNameSignup" aria-describedby="emailHelp" placeholder="نام و نام خانوادگی">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">شماره دانشجویی</label>
        <input type="number" maxlength="8" class="form-control" name="InputStudentNumberSignup" aria-describedby="emailHelp" placeholder="شماره دانشجویی">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">رمز عبور</label>
        <input type="password" class="form-control" name="InputPasswordSignup" placeholder="رمز عبور">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"> تکرار رمز عبور</label>
        <input type="password" class="form-control" name="InputPasswordRetypeSignup" placeholder="تکرار رمز عبور">
      </div>
      <button type="submit" class="btn btn-primary">ثبت نام</button>
    </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
          </div>
        </div>
      </div>
    </div>

    <!--END SIGN UP MODAL-->
                {% endif %}

    <!---->



                    {% block under_profile_cards_area %}
    {#                    here goes cards under the profile card #}
                    {% endblock under_profile_cards_area %}
            </div>

                {% block dynamic_stuff_inside %}

                {% endblock dynamic_stuff_inside %}


        </div>
        </div>
    </main>

    <footer id="footer" class="container-fluid footer p-0">

        <div class="colorfullBar"></div>
        <div class="col-9 col-sm-9 col-md-5 ml-auto mr-auto ">
            <p class="footerText">طراحی و توسعه <a href="http://smpour.ir"><img src="{% static  "stylesheets/icons/smpour.png" %}" class="img-fluid main-logo footerLogo"></a> با همکاری <a href="http://arenagp.ir"><img src="{% static  "stylesheets/icons/arenaLogo.jpg" %}" class="img-fluid main-logo footerLogo"></a></p>
            <p class="footerText left-to-right p-0 m-2">&copy; 2019. EESA KNTU. <a href="http://smpour.ir/copyright">@soroushamdg made it.</a></p>
        </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script>

        {% if error %}
            alert({{ error }});
        {% endif %}


    </script>

    </body>
    </html>
